@font-face {
    font-family: '2005_iannnnnAMD';
    src: url(assets/font/2005_iannnnnAMD) format("truetype");
}

body {
    background: url('/assets/img/bg.webp') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    font-family: 'Press Start 2P','2005_iannnnnAMD' !important;

    display: flex;
    justify-content: center;
}

.container {
    text-align: center;
}

.header-text {
    margin-top: 15em;
    color: white;
}
